@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atomic+Age&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 63%;
  box-sizing: border-box;
}

body {
  font-family:  'Nova Square','Press Start 2P', sans-serif;
  color: #eee;
  background: linear-gradient(90deg, rgba(62,180,58,1) 0%, rgba(69,146,252,1) 100%);
}

/* LAYOUT */
header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #eee;
}

main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer {
  height: 100%;
  /* color: #eee; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  background-image: url('/img/wood_score.png');
  width: 55rem;
  background-position: center; 
  background-size: cover; 
}
.right div{
  font-family: Federant,cursive;
  font-weight: bold;
  margin: 20px 85px;
  color: #703c08;
  letter-spacing: 4px;
  font-size: 3rem;
}

/* ELEMENTS STYLE */
h1 {
  font-family: 'Cabin Sketch', 'Press Start 2P', sans-serif;
  letter-spacing: 10px;
  font-size: 7rem;
  font-weight: bold;
  color: blue;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  background: #eeeeee;
  font-family: Rye,sans-serif;
  color: rgb(211, 24, 24);
  font-size: 6rem;
  width: 15rem;
  padding: 2rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(10, 16, 26, 0.288);	
}

.between {
  font-size: 1.4rem;
  position: absolute;
  top: 2rem;
  right: 41.5vw;
}

.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.guess {
  background: none;
	color: #3498db;
  border: 7px solid #eee;

  background-color: #d7dadd;
  box-shadow: inset -3px -3px 7px #ffffff73,
				inset  2px 2px 5px rgba(94,104,121,0.288);	
  font-family: inherit;
  /* color: inherit; */
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
  outline: none;
}

.btn {
  border: none;
  background: #d5d5da;
  color: #222;
  border-radius: 5px;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 5px rgba(10, 16, 26, 0.288);	
}

.btn:hover {
  background-color: #dde1e7;
  transform: scale(1.1);
}

.levelBtn {
  font-family: inherit;
  top: 2rem;
  border: none;
  background-color: transparent;
  color: #222;  
  background-image: url('/img/wood_level.png');
  width: max-content;
  background-position: center; 
  background-size: cover; 
  font-size: 2.8rem;
  padding:  2rem;
  position: absolute;
  right: 2rem;
}

.message {
  font-family: Rye,sans-serif;
  font-size: 90%;
  margin-bottom: 5rem;
  height: 2.8rem;
}

.label-attempt {
  margin-bottom: 1rem;
}
.label-score {
  margin-bottom: 1rem;
}

/*MODAL WINDOW*/

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.hidden {
  display: none;
}

.modal {
  font-size: 1.5rem;
  font-family: 'Atomic Age', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: rgb(88, 230, 84);
  padding: 5rem;
  border-radius: 8px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.modelMessage{
  font-size: 3rem;
  margin-top: 2px;
  color: darkmagenta;
}